<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('activerecord.attributes.history_record.uid') %>:</strong>
  <%= @history_record.uid %>
</p>

<p>
  <strong>schema</strong>
  <%= @history_record.schema %>
</p>
<% HistoryRecord::FIELDS.each do |field| %>
    <p>
      <strong><%= t("activerecord.attributes.history_record.#{field}") %>:</strong>
      <%= @history_record.send(field) %>
    </p>
<% end %>

<%= link_to 'Back', history_records_path %>
