<p id="notice"><%= notice %></p>

<p>
  <strong>UID:</strong>
  <%= @history_record.uid %>
</p>

<% HistoryRecord::FIELDS.each do |field| %>
    <p>
      <strong><%= field %>:</strong>
      <%= @history_record.send(field) %>
    </p>
<% end %>

<%= link_to 'Back', history_records_path %>
